/* Estilos personalizados */

/* Reset de estilos e estilos globais */
* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    list-style: none;
    border: none;
    text-decoration: none;
    /* font-family: 'Source Sans Pro', sans-serif; */
    /* font-family: 'Playfair Display', sans-serif; */
    font-family: 'Nunito', sans-serif;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: var(--cor-fonte);
}

:root {
    --cor-primaria: #000000; 
    --cor-secundaria: #f1f1ef; 
    --cor-destaque: #ffc506; 
    --cor-titulo: #328f16; 
    --cor-fonte: #555555; 
}
html {
    scroll-behavior: smooth;
}


/* //////////////////////////////////////            Navbar */

#topo2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* Centralizando a logo */
.logo-container {
    flex: 2;
    display: flex;
    justify-content: center;
}

/* Garantindo que o botão do navbar-toggler fique alinhado à direita */
.navbar-toggler-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

/* Garantindo que o navbar-brand fique alinhado à esquerda */
.navbar-collapse ul{
    /* flex: 1; */
    width: 400px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}



.navbar {
    display: flex;
    justify-content: center; /* Centraliza os itens horizontalmente */
    align-items: center; /* Centraliza os itens verticalmente */
    position: relative;     /* Para que o ::before seja posicionado corretamente */
    background-image: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url('./image/bannerHamburguer.png');
    background-size: cover;  /* Para cobrir todo o espaço da navbar com a imagem */
    background-position: center; /* Para centralizar a imagem */
}

.navbar::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Cor escura com transparência */
}

#topo {
    width: 90%;
}
#navbarNav {
    width: 30%;
}
.container img{
    width: 60px;
}
.container .navbar-brand {
    font-size: 15px;
}

.navbar-brand a {
    cursor: pointer;
}
.container h2 {
    color: var(--cor-titulo);
    font-weight: bold;
}
.navbar-nav li{
    display: flex;
    justify-content: center;
}


@media (min-width: 990px) {
    .navbar .collapse {
        margin-right: 400px;
    }

    #topo {
        padding: 0 100px;
    }
    .container .nav-link {
        padding: 0 100px;
    }
}






/* //////////////////////////////////////           Tabela de Produtos */

#produtos h5 {
    font-size: 16px;
    font-weight: 600;
    color: var(--cor-titulo);
}
#produtos p {
    font-size: 10px;
    line-height: 1.2;
}
#produtos th {
    font-size: 12px;
}
#produtos td img {
    border-radius: 4px;
    width: 60px;
}
#produtos a img {
    width: 40px;
    /* margin-top: 38px; */
}
#produtos .price {
    font-weight: bold;
    width: 100px;
    padding: 50px 10px;
    color: var(--cor-titulo);
}



#pizzas h2 {
    /* margin-top: -30px; */
    /* margin-bottom: 1rem 0; */
    color: var(--cor-titulo);
}
#pizzas h5 {
    font-size: 16px;
    font-weight: 600;
    color: var(--cor-titulo);
}
#pizzas p {
    font-size: 10px;
    line-height: 1.2;
}
#pizzas th {
    font-size: 12px;
}
#pizzas td img {
    border-radius: 4px;
    width: 60px;
}
#pizzas a img {
    width: 40px;
    /* margin-top: 38px; */
}
#pizzas .price {
    font-weight: bold;
    width: 100px;
    padding: 50px 10px;
    color: var(--cor-titulo);
}








/* //////////////////////////////////////            Seu Pedido */
#seu-pedido {
    padding: 4rem 0;
}

.pedido-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pedido-conteudo {
    flex-grow: 1;
}

.pedido-botao {
    margin-left: 10px;
}

.adicional-item {
    margin-bottom: 5px; /* card dos itens do pedido/ Campo SEU PEDIDO */
}

.subtotal-item {
    margin-top: 15px;
    font-weight: 300;
    color: var(--cor-titulo);
}


.tituloProduto-item {
    font-weight: 300;
    color: var(--cor-titulo);
}



.endereco {
    margin-top: 1.5rem;
}

.subtotal {
    margin-top: 2rem;
}
.fechamentoDePedido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fechamentoDePedido .btn {
    width: 80%;
    margin: 5px;
    color: white;
    border: none;
    font-weight: bold;
    transition: all 0.3s ease;
}
.fechamentoDePedido .btn-cupon {
    background-color: #006cbf;
}
.fechamentoDePedido .btn-cupon:hover {
    background-color: #005291;
    color: var(--cor-secundaria);
    scale:  1.05;
}

.fechamentoDePedido .btn-fecharPedido {
    background-color: #28a745;
}
.fechamentoDePedido .btn-fecharPedido:hover {
    background-color: #40bb5d;
    color: var(--cor-secundaria);
    scale:  1.05;
}


.resumoPedido-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.resumoPedido-btn .btn {
    width: 80%;
    margin: 5px;
    color: white;
    border: none;
    font-weight: bold;
    transition: all 0.3s ease;
}
.resumoPedido-btn .btn-resumoPedido {
    background-color: #006cbf;
}
.resumoPedido-btn .btn-resumoPedido:hover {
    background-color: #005291;
    color: var(--cor-secundaria);
    scale:  1.05;
}
        

.btn-remover-pedido {
    font-size: 12px !important;
}


/* //////////////////////////////////////            Modal */
.modal-dialog {
    max-width: 500px;
}

/* //////////////////////////////////////            Formulários */

.hidden {
    display: none;
}



/* //////////////////////////////////////            Contatos */
.contatos {
    padding: 2rem 0;
    text-align: center;
    color: var(--cor-fonte);
    height: 80px;
    
}

.contatos h3 {
    margin-bottom: 10px;
}

.contatos-secao {
    display: flex;
    justify-content: center;
    gap: 2rem;
}



/* //////////////////////////////////////            Rodapé */
.overlay {
    position: fixed;
    bottom: 0;
    width: 110%;
    height: 60px;
    background-color: #dddddd;
    z-index: 990;
}

/* Estilo para o footer */
footer {
    padding: 1rem;
    text-align: center;
    margin-bottom: 50px;
}

footer .menuFlutuante {
    display: flex;
    position: fixed;
    z-index: 996;
    width: 40px;
}





.container .btnFlutuante {
    width: auto;
    display: flex;
    justify-content: space-around;
    color: #fff;
}


.modal-content {
    display: flex;
    flex-direction: column;
}
.modal-body ul {
    list-style-type: none;
    padding: 0;
}
.modal-body li {
    display: block;
    margin-right: 10px;
    padding: 5px;
}
.modal-body a {
    text-decoration: none;
    color: var(--cor-titulo);
    font-weight: bold;
    padding: 10px;
}
.modal-body a:hover {
    transform: scaleX(1.0);
}



.btnFlutuante-menu{
    position: fixed;
    bottom: 10px;
    left: 20px;
    z-index: 999;
    cursor: pointer;
}
.btnFlutuante-info {
    position: fixed;
    bottom: 10px;
    margin: auto;
    cursor: pointer;
    z-index: 999;
}
.btnFlutuante-bolsa {
    position: fixed;
    bottom: 10px;
    right: 20px;
    cursor: pointer;
    z-index: 999;
}




.btnFlutuante-bolsa a img {
    width: 40px;
}
.btnFlutuante-info a img {
    width: 40px;
}
.btnFlutuante-menu img {
    width: 40px;
}


.badge {
    z-index: 1000;
    position: absolute;
    top: -5px;
    right: -10px;
}
.container h4 {
    margin-top: 10px;
    font-size: 11px;
    font-style: italic;
    color: var(--cor-fonte);
}



/* //////////////////////////////////////            MENU */

.nav-icon {
    cursor: pointer;
    font-size: 1.5rem;
}


