/* modal-styles.css */

/* Estilo geral para todos os modais */
.modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
}

.modal-content {
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.modal-header {
    background-color: #28a745; /* Fundo verde */
    border-bottom: 1px solid #dee2e6;
    padding: 1rem 1.5rem;
}

.btn-close-white {
    background-color: white;
    border: none;
    opacity: 1;
}
.modal-title {
    color: white; /* Cor da fonte branca */
    font-weight: bold;
}

.modal-body {
    padding: 1.5rem;
}

.modal-footer {
    background-color: #f8f9fa;
    border-top: 1px solid #dee2e6;
    padding: 1rem 1.5rem;
    text-align: right;
}

.modal-footer .btn {
    margin-left: 0.5rem;
}
/* Imagem centralizada */
.modal-body .col-md-6:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* CSS para a imagem */
.modal-body .col-md-6:first-child img {
    max-width: 40%; /* Define o tamanho máximo da imagem */
    height: auto;
    border-radius: 5px;
}

/* Consulta de mídia para telas maiores */
@media (min-width: 768px) {
    .modal-body .col-md-6:first-child img {
        max-width: 80%; /* Define o tamanho máximo da imagem para telas maiores */
    }
}

@media (min-width: 992px) {
    .modal-body .col-md-6:first-child img {
        max-width: 80%; /* Define o tamanho máximo da imagem para telas ainda maiores */
    }
}

@media (min-width: 1200px) {
    .modal-body .col-md-6:first-child img {
        max-width: 90%; /* Define o tamanho máximo da imagem para telas muito grandes */
    }
}

/* Estilos específicos para os subtítulos */
.modal-body h6,
.modal-body .form-label,
.modal-body .subtotal-label {
    color: #28a745; /* Cor verde */
    font-weight: bold; /* Estilo bold */
}

/* .btn .btn-primary .btn-adicionar-pedido { */
.btn-adicionar-pedido {
    width: 100%;
}